/* Custom style */
html{
    overflow: hidden;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 1px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    background: -webkit-linear-gradient(to top, #b8b8b8, #aab5da);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b8b8b8, #aab5da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: auto;
}

.parallax-wrapper {
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
}
.regular-wrapper {
    width: 100vw;
    height:100vh;
    z-index: 2;
    position: relative;
    background: -webkit-linear-gradient(to top, #b8b8b8, #aab5da);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b8b8b8, #aab5da); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: auto;
}

.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}


footer {
    text-align: center;
    bottom: 1em;
    position: absolute !important;
}

.bg-dark-custom {
    background: rgba(0, 0, 0, 0.5);
}

.bg-black-custom {
    background: rgba(0, 0, 0, 0.3);
}

.btn {
    transition-duration: 350ms;
}

.arrow{
    bottom: 4em;
    right: 4em;
    position: absolute;
}

/* Custom bi icons */
.bi {
    line-height: 0;
}
.bi-2x {
    font-size: 2em;
}
.bi-3x {
    font-size: 3em;
}


